@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    background-color: rgba(222, 235, 36, 0.319);
    font-family: "Roboto", sans-serif;
  }
header {
    color: black;
    text-align: center;
}
#black_belgica {
    background-color: black;
    width: 150px;
    height: 340px;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#yellow_belgica {
    background-color: rgb(221, 235, 36);
    width: 150px;
    height: 340px;
    display: inline-block;
    margin:  0px -6px;
}
#red_belgica {
    background-color: rgb(235, 36, 36);
    width: 150px;
    height: 340px;
    display: inline-block;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0px;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
div {
    text-align: center;
    padding: 8px;
}
footer {
    color: black;
    text-align: center;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    padding: 10px;
}
.perfil-foto {
    border-radius: 50%;
}